<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <groups>
  	<run>
  		<include name="Regression"></include><!--include-->
  		<exclude name="Sanity"></exclude><!--exclude-->
  	</run><!--run-->
  </groups><!--groups-->
  <test thread-count="5" name="Test">
    <classes>
      <class name="frameworks.maintestclass"/>
      <class name="panyam.panyam.AppTest"/>
    </classes><!--classes-->
  </test> <!-- Test --><parameter name="browser" value="chrome"></parameter><!--parameter-->
</suite> <!-- Suite -->
